body.add-activity-page {
  background-image: url("/Images/11.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.activity-form {
  background-color: #e6e3e3b3;
  border-radius: 10px;
  padding: 30px 40px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: black;
  margin: 0 auto;
}

.activity-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  margin: 40px 0;
}

.ActivityInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ActivityName label,
.ActivityDes label,
.ActivityDate label,
.ActivityLocatoin label {
  color: #17224d;
  margin-bottom: 20px;
  font-size: 16px;
}

.ActivityName input,
.ActivityDes textarea,
.ActivityDate input,
.ActivityLocatoin input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 16px;
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
}

.ActivityBtn {
  background-color: #17224d;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.ActivityBtn:hover {
  background-color: #0b1f71;
}
