.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 60px;
  border: 5px solid #17224d;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  text-align: center;
}

.modal-content h3 {
  letter-spacing: 1px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-content h6 {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  padding-top: 5px;
  margin-bottom: 20px;
}

.sendLogo {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
}

.EmailInput {
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.InviteModelBtn {
  background-color: #17224d;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

.InviteModelBtn:hover {
  background-color: #0b1f71;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.modal-content .close:hover {
  color: #ff0000;
}

.success-message {
  color: green;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
