.NotesContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.288);
  border: 4px solid white;
  border-radius: 40px;
  margin-top: 20px;
}

.InputContainer {
  margin-bottom: 1.5rem;
}

.NewNoteInput {
  height: 40px;
  width: 75%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.AddNewNoteButton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 20%;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #17224d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.AddNewNoteButton:hover {
  background-color: #6a67ce;
}

.NotesList {
  margin-top: 1rem;
}

.SingleNote {
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.NoteTitle {
  margin: 0;
}

.NoteContent {
  color: black;
  padding-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.DeleteNoteButton {
  float: right;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: -6px;
  line-height: 1;
  height: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.DeleteNoteButton:hover {
  background-color: #c82333;
}

.NoNotesMessage {
  text-align: center;
  color: #f9f8f8;
}
