.Details h2 {
  color: #1f2a56;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;

  padding: 20px;
  letter-spacing: 0.1rem;
}

.navBarDetails {
  background-color: #17224d;
  text-align: center;
  padding: 10px;
}

.DBtns {
  margin: 1%;
  margin-right: 4pc;
  color: white;
  background-color: transparent;
  border: none;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.DBtns:hover {
  color: #007bff;
  text-shadow: 0px 1px 15px #007bff;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.creator-info {
  display: flex;
  align-items: center;

  padding: 8px 16px;
  border-radius: 8px;
  color: white;
}

.creator-name {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.badge {
  background-color: #a1a5b7;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  text-transform: uppercase;
}

.details-container {
  min-height: 100vh;
  background-color: #e6e3e3;
  padding: 20px;
}
